<header class="banner-alt fancy-outline">

    <div class="banner-alt-topleft">
        <h1 class="banner-alt-name banner-alt-artdecofont">Alexander Romero Vinogradov</h1>
    </div>

    <div class="banner-alt-bottomleft">
        <h1 class="banner-alt-occupation banner-alt-artdecofont">{{ site.data.banner[page.language].occupation-1 }} {{ site.data.banner[page.language].occupation-2 }}</h1>
    </div>

    <div class="banner-alt-navigation">
        <div class="banner-alt-longline"></div>

        <ul class="banner-alt-ul">
            <li><a href="{{ site.data.banner[page.language].home.url }}">{{ site.data.banner[page.language].home.name }}</a></li>
            <li><a href="{{ site.data.banner[page.language].about.url }}">{{ site.data.banner[page.language].about.name }}</a></li>
            <li><a href="{{ site.data.banner[page.language].thoughts.url }}">{{ site.data.banner[page.language].thoughts.name }}</a></li>
            <li><a href="{{ site.data.banner[page.language].contact.url }}">{{ site.data.banner[page.language].contact.name }}</a></li>
        </ul>

        <div class="banner-alt-shortline"></div>

    </div>

    <div class="banner-alt-picture">
        <img src="/assets/images/banner/picture-simplif.svg" alt="{{ site.data.banner[page.language].picture-alt }}">
    </div>

</header>
